spring:
  application:
    name: amigo-secreto
  profiles:
    active: dev
  jackson:
    default-property-inclusion: NON_NULL

  flyway:
    enabled: true
    baseline-on-migration: true
    locations: classpath:db/migration

---

spring:
  config:
    activate:
      on-profile: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/amigo-secreto
    username: postgres
    password: 12345
  jpa:
    hibernate:
      ddl-auto: validate
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
